.container_filter {
  display: flex;
  align-items: center;
  width: 100rem;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 3em;
  backdrop-filter: blur(6px);
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  left: 17.5rem;
}

.container_filter select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: auto;
  border-radius: 10px 10px 10px 10px;
  background-color: midnightblue;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
}
.container_filter select:focus {
  border-radius: 10px 10px 0 0;
}
